* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
  --main-bg-color: #f4f6f9;
  --main-primary-color: #ffffff;
  --main-border-color: #dbe0e8;
  --main-gradient:linear-gradient(#1976d2, #9198e5);
  --main-gradient-white:linear-gradient(#1976d2, #ffffff)
}
